body{
    color: white;
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

    /* intestazione */
    header{
        display: flex;
        height: 50px;
        background-color: rgb(0, 0, 0);
        justify-content:flex-end;
        width: 100vw;
        position: fixed;
        z-index: 500;
        margin-bottom: 100px ;
        
    }

    #speaker-view,  #full-screen{
        padding: 10px;
        background-color: rgb(141, 141, 141);
        border-radius: 5px;
        display: block;
        height: 40px;
        font-size: 20px;
        text-align: center;
        margin: 5px 5px
    }

 
        


main{
    height: calc(100vh- 100px);
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    z-index: 400;
}

main div img {
   margin-bottom: 10px;
   margin-right: 5px;
}

main div {
    position: relative;

   
  
}
main div span{
    position: absolute;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.539);
    left: 0;
    bottom: 15px;
    padding: 2px ;

}

/* barra degli strumenti bottom */

footer{
    width: 100vw;
    height: auto;
    min-height: 100px;
    position: fixed;
    left: 0;
     bottom: 0;
    background-color: rgba(34,34,34,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    
}

#itemsx{
    display: flex;
    text-align: center;
    margin: 0 15px ;
}

.elementi{
   margin-right: 20px;
   
}

footer .item .elementi i {
    font-size: 30px;
    vertical-align: middle;
}

.angle{
    font-size: 18px;
    
}

#share{
    color: rgb(18, 190, 18);
}


footer .item nav{
    width: 90%;
}
footer .item nav ul{
    width: 100%;
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: space-between;
    
}

footer .item nav ul li{
    margin-right: 20px;
}


footer .item nav ul i{
    font-size: 30px;
    vertical-align: middle;
}

#end{
    color: red;
    vertical-align:middle;
    background-color: rgba(74,74,74,255);
    min-height: 100px;
    padding: 40px;
    text-align: center;
    

}